//- Definitions
block def_site_title
    - var siteTitle = null;
block def_description
    - var description = config.description ? config.description : 'A Blog Powered By Hexo';
block def_keywords
    - var keywords = page.keywords || theme.keywords;

//-

- var title = siteTitle ? `${siteTitle} - ${config.title}` : config.title;

title
    = title

meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="author", content= theme.author)
meta(name="keywords", content=keywords)
meta(name="description", content=description)

meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",name="viewport")
meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")

meta(name="renderer",content="webkit")
link(rel="short icon", href="/images/favicon-2.png",type="image/x-icon")
link(rel="stylesheet", href= url_for('css/style_anatole.css'))
link(rel="stylesheet", href= url_for('css/blog_basic.css'))
link(rel="stylesheet", href= url_for('css/font-awesome.min.css'))
link(rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="/atom.xml")

//- Open Graph
meta(property="fb:app_id", content=config.fb_app_id)
block ogType
    meta(property="og:type", content="website")
block ogTitle
    meta(property="og:title", content=siteTitle)
block ogDescription
    meta(property="og:description", content=description)
block ogImage
    if page.images
        - page.images.forEach(image => {
            - var url = /^https?:\/\//.test(image) ? image : `${config.url}${image}`;
            meta(property="og:image", content=url)
        - });
    else
        - var url = `${config.url}${config.logo}`;
        meta(property="og:image", content=url)
block ogUrl
    - var url = `${config.url}/${page.path}`;
    meta(property="og:url", content=url)

//- Google Analytics
include ga