extends partial/layout

include mixins

block def_site_title
  - var siteTitle = page.title;

block def_description
  - var description = page.desc || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);

block content
  .autopagerize_page_element: .content: .post-page
    include mixins
    +make_post(page, true)
    include partial/share
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .pagination
      ul.clearfix
        if prev
          li.pre.pagbuttons
            a.btn(role="navigation",href=url_for(prev), title=page.prev.title)!= __('prev_post')
        if next
          li.next.pagbuttons
            a.btn(role="navigation",href=url_for(next), title=page.next.title)!= __('next_post')
    if page.comments
        include partial/comments

block ogType
  meta(property="og:type", content="article")
  if page.tags
    - page.tags.each(tag => {
      meta(property="article:tag", content=tag.name)
    - });